body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: #333;
  background-color: #fcfcfc;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
button {
  border: none;
  font-family: inherit;
  border-radius: 5px;
  cursor: pointer;
}

/* Navbar */
.nav {
  background-color: #fff;
  padding: 15px 5vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .cart-btn {
  width: 35px;
  height: 35px;
  border: 1px solid #085db5;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
  cursor: pointer;
}
.nav .cart-btn svg {
  display: block;
  fill: #085db5;
}
.nav .cart-btn .count {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #b50808;
  font-size: 0.875rem;
  border-radius: 50%;
  color: #fff;
  display: grid;
  place-items: center;
  transform: translate(40%, 19%);
}

/* cart */
.cart {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
}
.cart .overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
.cart .cart-header {
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
}
.cart .cart-header .close {
  cursor: pointer;
}
.cart .cart-items {
	position: relative;
	z-index: 2;
	background: #fff;
	width: 300px;
	height: 100%;
	padding: 20px 10px;
}
.cart .cart-item {
	display: flex;
	align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.cart .cart-item .thumbnail > img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.cart .cart-item .info {
  flex: 1;
}
.cart .cart-item .title {
  font-size: 1.125rem;
}
.cart .cart-item .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.cart .cart-item .unit-price {
  font-size: 0.875rem;
  font-weight: 600;
  color: #6f6f6f;
}
.cart .cart-item .price .left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cart .cart-item .price .total-price {
  font-weight: 500;
  font-size: 1.125rem;
}
.cart .cart-item .price .remove {
  padding: 5px;
  border: 2px solid #b50808;
  border-radius: 3px;
  cursor: pointer;
}
.cart .cart-item .price .remove:hover {
  background-color: #b50808;
}
.cart .cart-item .price .remove > svg {
  display: block;
  fill: #b50808;
}
.cart .cart-item .price .remove:hover > svg {
  fill: #fff;
}
.cart-total {
  border-top: 1px solid #d9d9d9;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: end;
}

/* Products */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 40px 5vw;
  max-width: 1200px;
  margin: 0 auto;
}
.product-card .thumbnail {
  height: 200px;
  overflow: hidden;
}
.product-card .body {
  padding-left: 20px;
  padding-right: 20px;
}
.product-card .info {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card .name {
  margin: 0;
  font-weight: 500;
}
.product-card .atc {
  background-color: #085db5;
  color: #fff;
  padding: 10px 20px;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}
.product-card .in-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.product-card .update-quantity {
  width: 35px;
  height: 35px;
  background-color: #085db5;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  display: grid;
}
.product-card .quantity > span {
  font-size: 1.25rem;
  font-weight: 500;
}
.product-card .remove {
  background-color: #b50808;
  color: #fff;
  display: block;
  padding: 7px 15px;
  margin: auto;
}